# Dependencies
node_modules/

# Build output
out/
dist/
release/
.vite/

# Logs
*.log
npm-debug.log*

# Editor / IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Temp
boot.err.log
boot.out.log
